[
  {
    "created_at": "Sat Nov 17 16:42:53 +0000 2012",
    "id": 269843058630205440,
    "id_str": "269843058630205440",
    "text": "RT @kyleshank: Donate Your Account statement http://t.co/Aj2CG2Zt",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Nov 17 16:42:42 +0000 2012",
      "id": 269843014036385800,
      "id_str": "269843014036385792",
      "text": "Donate Your Account statement http://t.co/Aj2CG2Zt",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/Aj2CG2Zt",
            "expanded_url": "http://www.kyleshank.com/stories/2012/11/17/donateYourAccount.html",
            "display_url": "kyleshank.com/stories/2012/1…",
            "indices": [
              30,
              50
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/Aj2CG2Zt",
          "expanded_url": "http://www.kyleshank.com/stories/2012/11/17/donateYourAccount.html",
          "display_url": "kyleshank.com/stories/2012/1…",
          "indices": [
            45,
            65
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri Nov 16 21:21:04 +0000 2012",
    "id": 269550680199548930,
    "id_str": "269550680199548928",
    "text": "RT @kyleshank: I talked about the future of http://t.co/tBrYY7R9 on the latest Office Hours broadcast. Listen now: http://t.co/gLA37NJh",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Nov 16 21:20:40 +0000 2012",
      "id": 269550579590787070,
      "id_str": "269550579590787072",
      "text": "I talked about the future of http://t.co/tBrYY7R9 on the latest Office Hours broadcast. Listen now: http://t.co/gLA37NJh",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/tBrYY7R9",
            "expanded_url": "http://DonateYourAccount.com",
            "display_url": "DonateYourAccount.com",
            "indices": [
              29,
              49
            ]
          },
          {
            "url": "http://t.co/gLA37NJh",
            "expanded_url": "http://www.fans.fm/233",
            "display_url": "fans.fm/233",
            "indices": [
              100,
              120
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/tBrYY7R9",
          "expanded_url": "http://DonateYourAccount.com",
          "display_url": "DonateYourAccount.com",
          "indices": [
            44,
            64
          ]
        },
        {
          "url": "http://t.co/gLA37NJh",
          "expanded_url": "http://www.fans.fm/233",
          "display_url": "fans.fm/233",
          "indices": [
            115,
            135
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri Nov 16 21:13:02 +0000 2012",
    "id": 269548656548515840,
    "id_str": "269548656548515840",
    "text": "RT @kyleshank: Office Hours is now live! Listen live: http://t.co/gLA37NJh and call in 617-500-7147 extension 233. talking Donate Your A ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Nov 16 20:59:40 +0000 2012",
      "id": 269545293362651140,
      "id_str": "269545293362651137",
      "text": "Office Hours is now live! Listen live: http://t.co/gLA37NJh and call in 617-500-7147 extension 233. talking Donate Your Account.",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/gLA37NJh",
            "expanded_url": "http://www.fans.fm/233",
            "display_url": "fans.fm/233",
            "indices": [
              39,
              59
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/gLA37NJh",
          "expanded_url": "http://www.fans.fm/233",
          "display_url": "fans.fm/233",
          "indices": [
            54,
            74
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri Nov 16 16:08:46 +0000 2012",
    "id": 269472087813541900,
    "id_str": "269472087813541888",
    "text": "RT @kyleshank: I'm going to talk about Donate Your Account on today's Office Hours live at 4PM ET. Listen live and call in: http://t.co/ ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Nov 16 16:07:46 +0000 2012",
      "id": 269471835404505100,
      "id_str": "269471835404505088",
      "text": "I'm going to talk about Donate Your Account on today's Office Hours live at 4PM ET. Listen live and call in: http://t.co/gLA37NJh",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/gLA37NJh",
            "expanded_url": "http://www.fans.fm/233",
            "display_url": "fans.fm/233",
            "indices": [
              109,
              129
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Nov 09 16:09:04 +0000 2012",
    "id": 266935444724404220,
    "id_str": "266935444724404224",
    "text": "RT @kyleshank: I'll be recording Office Hours today at 4PM ET http://t.co/CkjP6IIK Listen Live and Call in 617-500-7147 extension 220",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Nov 09 16:01:06 +0000 2012",
      "id": 266933443223490560,
      "id_str": "266933443223490562",
      "text": "I'll be recording Office Hours today at 4PM ET http://t.co/CkjP6IIK Listen Live and Call in 617-500-7147 extension 220",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 2,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/CkjP6IIK",
            "expanded_url": "http://www.fans.fm/220",
            "display_url": "fans.fm/220",
            "indices": [
              47,
              67
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 2,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/CkjP6IIK",
          "expanded_url": "http://www.fans.fm/220",
          "display_url": "fans.fm/220",
          "indices": [
            62,
            82
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Thu Oct 11 19:27:48 +0000 2012",
    "id": 256476209171554300,
    "id_str": "256476209171554304",
    "text": "There are issues with Facebook support now as a result of being forced to update several dependencies. Will get to fixing Facebook later.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Thu Oct 11 19:26:46 +0000 2012",
    "id": 256475949284093950,
    "id_str": "256475949284093952",
    "text": "Twitter API change broke some things. I just deployed fixes. Twitter should be working again.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Sep 21 14:21:50 +0000 2012",
    "id": 249151455204872200,
    "id_str": "249151455204872192",
    "text": "http://t.co/3oD2a22Y will be shut down on December 1st, 2012. This post explains why: http://t.co/Dw3OsKJ8",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 4,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/3oD2a22Y",
          "expanded_url": "http://DonateYourAccount.com",
          "display_url": "DonateYourAccount.com",
          "indices": [
            0,
            20
          ]
        },
        {
          "url": "http://t.co/Dw3OsKJ8",
          "expanded_url": "http://www.kyleshank.com/stories/2012/09/21/iWontBuildABusinessOnTwitt.html",
          "display_url": "kyleshank.com/stories/2012/0…",
          "indices": [
            86,
            106
          ]
        }
      ],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": true,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri Sep 21 03:09:02 +0000 2012",
    "id": 248982141101277200,
    "id_str": "248982141101277184",
    "text": "RT @kyleshank: I won't build a business on Twitter http://t.co/xZd3Ssrx",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Sep 21 02:29:58 +0000 2012",
      "id": 248972307794653200,
      "id_str": "248972307794653184",
      "text": "I won't build a business on Twitter http://t.co/xZd3Ssrx",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 2,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/xZd3Ssrx",
            "expanded_url": "http://www.kyleshank.com/stories/2012/09/21/iWontBuildABusinessOnTwitt.html",
            "display_url": "kyleshank.com/stories/2012/0…",
            "indices": [
              36,
              56
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 2,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/xZd3Ssrx",
          "expanded_url": "http://www.kyleshank.com/stories/2012/09/21/iWontBuildABusinessOnTwitt.html",
          "display_url": "kyleshank.com/stories/2012/0…",
          "indices": [
            51,
            71
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri Sep 14 20:24:54 +0000 2012",
    "id": 246706106515222530,
    "id_str": "246706106515222529",
    "text": "RT @kyleshank: Donate Your Account Feature Requests open thread http://t.co/z178gQwV",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri Sep 14 20:24:42 +0000 2012",
      "id": 246706058276511740,
      "id_str": "246706058276511744",
      "text": "Donate Your Account Feature Requests open thread http://t.co/z178gQwV",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/z178gQwV",
            "expanded_url": "http://threads.kyleshank.com/2012/september/donateYourAccountFeatureRequests",
            "display_url": "threads.kyleshank.com/2012/september…",
            "indices": [
              49,
              69
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/z178gQwV",
          "expanded_url": "http://threads.kyleshank.com/2012/september/donateYourAccountFeatureRequests",
          "display_url": "threads.kyleshank.com/2012/september…",
          "indices": [
            64,
            84
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Tue Sep 04 14:49:08 +0000 2012",
    "id": 242997730379710460,
    "id_str": "242997730379710465",
    "text": "RT @kyleshank: Interesting Donate Your Account Campaigns http://t.co/vl7bWrQM",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Tue Sep 04 14:48:38 +0000 2012",
      "id": 242997607117516800,
      "id_str": "242997607117516800",
      "text": "Interesting Donate Your Account Campaigns http://t.co/vl7bWrQM",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/vl7bWrQM",
            "expanded_url": "http://www.kyleshank.com/stories/2012/09/04/interestingDonateYourAccou.html",
            "display_url": "kyleshank.com/stories/2012/0…",
            "indices": [
              42,
              62
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/vl7bWrQM",
          "expanded_url": "http://www.kyleshank.com/stories/2012/09/04/interestingDonateYourAccou.html",
          "display_url": "kyleshank.com/stories/2012/0…",
          "indices": [
            57,
            77
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Thu Jun 14 17:17:38 +0000 2012",
    "id": 213319296519122940,
    "id_str": "213319296519122945",
    "text": "@ginachristo sign in with Twitter and go to http://t.co/IrTw9bCc and click Un-Donate in the upper right",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 213029885176852480,
    "in_reply_to_status_id_str": "213029885176852480",
    "in_reply_to_user_id": 116354350,
    "in_reply_to_user_id_str": "116354350",
    "in_reply_to_screen_name": "ginachristo",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/IrTw9bCc",
          "expanded_url": "http://donateyouraccount.com/citizenradio",
          "display_url": "donateyouraccount.com/citizenradio",
          "indices": [
            44,
            64
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "ginachristo",
          "name": "Gina Christo",
          "id": 116354350,
          "id_str": "116354350",
          "indices": [
            0,
            12
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Fri May 04 02:43:42 +0000 2012",
    "id": 198241461337210880,
    "id_str": "198241461337210884",
    "text": "RT @kyleshank: So i'll be at @Netroots_Nation again this year. Let me know if you want to talk about @donateuraccount. My only conferenc ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Fri May 04 02:43:34 +0000 2012",
      "id": 198241429280137200,
      "id_str": "198241429280137216",
      "text": "So i'll be at @Netroots_Nation again this year. Let me know if you want to talk about @donateuraccount. My only conference this year.",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": [
          {
            "screen_name": "Netroots_Nation",
            "name": "Netroots_Nation",
            "id": 14426645,
            "id_str": "14426645",
            "indices": [
              14,
              30
            ]
          },
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              86,
              102
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        },
        {
          "screen_name": "Netroots_Nation",
          "name": "Netroots_Nation",
          "id": 14426645,
          "id_str": "14426645",
          "indices": [
            29,
            45
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            101,
            117
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Apr 14 15:02:00 +0000 2012",
    "id": 191179505849745400,
    "id_str": "191179505849745408",
    "text": "Donate Your Account Privacy Policy now exists: http://t.co/sTaP02FT",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/sTaP02FT",
          "expanded_url": "http://donateyouraccount.com/privacy.html",
          "display_url": "donateyouraccount.com/privacy.html",
          "indices": [
            47,
            67
          ]
        }
      ],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Wed Mar 14 21:15:41 +0000 2012",
    "id": 180039521700814850,
    "id_str": "180039521700814849",
    "text": "@bredcrumbs Click on the down arrow in the upper right of a story shared \"via Donate Your Account\". Select \"Hide all by Donate Your Account\"",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 180035902087766000,
    "in_reply_to_status_id_str": "180035902087766016",
    "in_reply_to_user_id": 14950710,
    "in_reply_to_user_id_str": "14950710",
    "in_reply_to_screen_name": "bredcrumbs",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "bredcrumbs",
          "name": "Tim Bland",
          "id": 14950710,
          "id_str": "14950710",
          "indices": [
            0,
            11
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Thu Mar 08 16:39:41 +0000 2012",
    "id": 177795737134964740,
    "id_str": "177795737134964737",
    "text": "RT @OccupyWallStNYC: Now you can help us amplify the voices of the 99% by donating your account for a RT now and then: http://t.co/DDztH ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Thu Mar 08 13:45:13 +0000 2012",
      "id": 177751831114559500,
      "id_str": "177751831114559488",
      "text": "Now you can help us amplify the voices of the 99% by donating your account for a RT now and then: http://t.co/DDztHdI7 #PeoplesMic #OWS",
      "source": "<a href=\"http://www.hootsuite.com\" rel=\"nofollow\">HootSuite</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 335972576,
        "id_str": "335972576"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 23,
      "entities": {
        "hashtags": [
          {
            "text": "PeoplesMic",
            "indices": [
              119,
              130
            ]
          },
          {
            "text": "OWS",
            "indices": [
              131,
              135
            ]
          }
        ],
        "urls": [
          {
            "url": "http://t.co/DDztHdI7",
            "expanded_url": "http://donateyouraccount.nycga.net/OccupyWallStNYC",
            "display_url": "donateyouraccount.nycga.net/OccupyWallStNYC",
            "indices": [
              98,
              118
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 23,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "OccupyWallStNYC",
          "name": "Occupy Wall Street",
          "id": 335972576,
          "id_str": "335972576",
          "indices": [
            3,
            19
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sun Mar 04 23:17:12 +0000 2012",
    "id": 176446225107783680,
    "id_str": "176446225107783681",
    "text": "Advertising http://t.co/Sc2ZVzB4",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/Sc2ZVzB4",
          "expanded_url": "http://dya.notes.kyleshank.com/march2012/3412ByKs/advertising",
          "display_url": "dya.notes.kyleshank.com/march2012/3412…",
          "indices": [
            12,
            32
          ]
        }
      ],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Sun Mar 04 23:16:59 +0000 2012",
    "id": 176446167108943870,
    "id_str": "176446167108943873",
    "text": "The Need for Speed http://t.co/XiRrF4db",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/XiRrF4db",
          "expanded_url": "http://dya.notes.kyleshank.com/march2012/3412ByKs/theNeedForSpeed",
          "display_url": "dya.notes.kyleshank.com/march2012/3412…",
          "indices": [
            19,
            39
          ]
        }
      ],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Sun Mar 04 00:48:28 +0000 2012",
    "id": 176106805146030080,
    "id_str": "176106805146030081",
    "text": "Did a few upgrades today and database optimizations. Also cached the widget code you embed on your sites so its as fast as possible. #NERDS",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 1,
    "entities": {
      "hashtags": [
        {
          "text": "NERDS",
          "indices": [
            133,
            139
          ]
        }
      ],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": true
  },
  {
    "created_at": "Sat Feb 25 17:15:32 +0000 2012",
    "id": 173456104951513100,
    "id_str": "173456104951513088",
    "text": "RT @dpakman: Check out this sad news, we got knocked of the @donateuraccount leaderboard http://t.co/UdwvkKq3",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Feb 25 17:00:15 +0000 2012",
      "id": 173452259424862200,
      "id_str": "173452259424862210",
      "text": "Check out this sad news, we got knocked of the @donateuraccount leaderboard http://t.co/UdwvkKq3",
      "source": "<a href=\"http://www.hootsuite.com\" rel=\"nofollow\">HootSuite</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 21514744,
        "id_str": "21514744"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 3,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/UdwvkKq3",
            "expanded_url": "http://ow.ly/9gN1S",
            "display_url": "ow.ly/9gN1S",
            "indices": [
              76,
              96
            ]
          }
        ],
        "user_mentions": [
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              47,
              63
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 3,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/UdwvkKq3",
          "expanded_url": "http://ow.ly/9gN1S",
          "display_url": "ow.ly/9gN1S",
          "indices": [
            89,
            109
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "dpakman",
          "name": "David Pakman",
          "id": 21514744,
          "id_str": "21514744",
          "indices": [
            3,
            11
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            60,
            76
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Thu Feb 16 17:32:52 +0000 2012",
    "id": 170198976254054400,
    "id_str": "170198976254054401",
    "text": "I just launched a new database server. That should hopefully do it.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Thu Feb 16 13:27:19 +0000 2012",
    "id": 170137179606089730,
    "id_str": "170137179606089729",
    "text": "New server helps but ultimately I have to take the time and refactor how the system works. Its a data problem.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Thu Feb 16 05:16:14 +0000 2012",
    "id": 170013596175175680,
    "id_str": "170013596175175680",
    "text": "New worker server is up. Hopefully this temporarily alleviates some of the slowdowns you might have experienced. real solution 2 come later.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Wed Feb 15 14:25:44 +0000 2012",
    "id": 169789491958120450,
    "id_str": "169789491958120448",
    "text": "Things are and have been slow on the site. Thats because the server is shit. I will be doing an upgrade at some point today as a temp fix.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Wed Feb 15 01:21:39 +0000 2012",
    "id": 169592174101544960,
    "id_str": "169592174101544960",
    "text": "@seed4peace The system is getting bogged down by its popularity. Your messages were probably eventually sent out.I need to do some upgrades.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 169487229197099000,
    "in_reply_to_status_id_str": "169487229197099009",
    "in_reply_to_user_id": 217541678,
    "in_reply_to_user_id_str": "217541678",
    "in_reply_to_screen_name": "seed4peace",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "seed4peace",
          "name": "Need4Peace.com",
          "id": 217541678,
          "id_str": "217541678",
          "indices": [
            0,
            11
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sun Feb 12 04:03:57 +0000 2012",
    "id": 168545852770627600,
    "id_str": "168545852770627584",
    "text": "Would anybody be interested in adding Tumblr as another account donation option? Think that might have potential.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Feb 11 21:00:57 +0000 2012",
    "id": 168439399758037000,
    "id_str": "168439399758036993",
    "text": "@elonjames Just haven't had the time yet. My plan is to do a major upgrade (performance-wise) in the next 3 weeks. Bigger servers etc.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 167675797493125120,
    "in_reply_to_status_id_str": "167675797493125120",
    "in_reply_to_user_id": 1716581,
    "in_reply_to_user_id_str": "1716581",
    "in_reply_to_screen_name": "elonjames",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "elonjames",
          "name": "Elon James White",
          "id": 1716581,
          "id_str": "1716581",
          "indices": [
            0,
            10
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Feb 11 21:00:06 +0000 2012",
    "id": 168439186012123140,
    "id_str": "168439186012123136",
    "text": "@tommartinekelly you log back in with your Twitter or Facebook account. Go to the Young Turks page and click Undonate in the upper right.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 167382933097816060,
    "in_reply_to_status_id_str": "167382933097816065",
    "in_reply_to_user_id": 398321487,
    "in_reply_to_user_id_str": "398321487",
    "in_reply_to_screen_name": "tommartinekelly",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "tommartinekelly",
          "name": "tom kelly",
          "id": 398321487,
          "id_str": "398321487",
          "indices": [
            0,
            16
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Wed Feb 01 18:10:45 +0000 2012",
    "id": 164772691042254850,
    "id_str": "164772691042254848",
    "text": "@allisonkilkenny looks like they got delivered. things are getting too big. haven't had the time to address it.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 164722877260767230,
    "in_reply_to_status_id_str": "164722877260767235",
    "in_reply_to_user_id": 14752085,
    "in_reply_to_user_id_str": "14752085",
    "in_reply_to_screen_name": "allisonkilkenny",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "allisonkilkenny",
          "name": "allisonkilkenny",
          "id": 14752085,
          "id_str": "14752085",
          "indices": [
            0,
            16
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sun Jan 29 18:03:22 +0000 2012",
    "id": 163683668055961600,
    "id_str": "163683668055961600",
    "text": "Hey everyone who uses DYA. I would like to do a Skype conference with a few users of the service sometime soon. Reply if interested.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": true
  },
  {
    "created_at": "Thu Jan 26 00:54:22 +0000 2012",
    "id": 162337548729987070,
    "id_str": "162337548729987072",
    "text": "RT @kyleshank: Should I submit @donateuraccount talk to @Netroots_Nation?",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Thu Jan 26 00:52:41 +0000 2012",
      "id": 162337125562458100,
      "id_str": "162337125562458112",
      "text": "Should I submit @donateuraccount talk to @Netroots_Nation?",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": [
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              16,
              32
            ]
          },
          {
            "screen_name": "Netroots_Nation",
            "name": "Netroots_Nation",
            "id": 14426645,
            "id_str": "14426645",
            "indices": [
              41,
              57
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            31,
            47
          ]
        },
        {
          "screen_name": "Netroots_Nation",
          "name": "Netroots_Nation",
          "id": 14426645,
          "id_str": "14426645",
          "indices": [
            56,
            72
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Jan 13 16:59:23 +0000 2012",
    "id": 157869359505739780,
    "id_str": "157869359505739776",
    "text": "@CitizenRadio basically :) i still have no idea where this idea/site is going.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 157867507372408830,
    "in_reply_to_status_id_str": "157867507372408833",
    "in_reply_to_user_id": 50367908,
    "in_reply_to_user_id_str": "50367908",
    "in_reply_to_screen_name": "CitizenRadio",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "CitizenRadio",
          "name": "Citizen Radio",
          "id": 50367908,
          "id_str": "50367908",
          "indices": [
            0,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Jan 13 16:49:31 +0000 2012",
    "id": 157866877073375230,
    "id_str": "157866877073375232",
    "text": "@CitizenRadio i need to upgrade the server. site has too much activity now and too many tweets/shares to post.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 157857793683095550,
    "in_reply_to_status_id_str": "157857793683095553",
    "in_reply_to_user_id": 50367908,
    "in_reply_to_user_id_str": "50367908",
    "in_reply_to_screen_name": "CitizenRadio",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "CitizenRadio",
          "name": "Citizen Radio",
          "id": 50367908,
          "id_str": "50367908",
          "indices": [
            0,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sun Jan 01 05:38:11 +0000 2012",
    "id": 153349275777105920,
    "id_str": "153349275777105921",
    "text": "Happy New Year! Donate Your Account is a year old!",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Mon Dec 12 12:43:11 +0000 2011",
    "id": 146208476127952900,
    "id_str": "146208476127952896",
    "text": "And everything is caught up. Sorry about that.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Mon Dec 12 12:31:59 +0000 2011",
    "id": 146205656171560960,
    "id_str": "146205656171560962",
    "text": "Amazon did an instance reboot on the DYA server this weekend and the donator process wasn't re-started. Its now up, running and catching up.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Wed Dec 07 18:30:00 +0000 2011",
    "id": 144483816709439500,
    "id_str": "144483816709439488",
    "text": ".@CitizenRadio has reached ONE THOUSAND DONATIONS ON DONATE YOUR ACCOUNT. #bells #sirens",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 1,
    "entities": {
      "hashtags": [
        {
          "text": "bells",
          "indices": [
            74,
            80
          ]
        },
        {
          "text": "sirens",
          "indices": [
            81,
            88
          ]
        }
      ],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "CitizenRadio",
          "name": "Citizen Radio",
          "id": 50367908,
          "id_str": "50367908",
          "indices": [
            1,
            14
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": true
  },
  {
    "created_at": "Wed Dec 07 05:15:24 +0000 2011",
    "id": 144283845288665100,
    "id_str": "144283845288665088",
    "text": ".@CitizenRadio is at 999 donations. NBD.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "CitizenRadio",
          "name": "Citizen Radio",
          "id": 50367908,
          "id_str": "50367908",
          "indices": [
            1,
            14
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Tue Nov 15 02:38:53 +0000 2011",
    "id": 136271927349223420,
    "id_str": "136271927349223424",
    "text": "RT @kyleshank: Donate Your Account by the numbers http://t.co/bKb0f5i4 (aka i blog again)",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Tue Nov 15 02:35:44 +0000 2011",
      "id": 136271132486676480,
      "id_str": "136271132486676480",
      "text": "Donate Your Account by the numbers http://t.co/bKb0f5i4 (aka i blog again)",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/bKb0f5i4",
            "expanded_url": "http://www.kyleshank.com/donate-your-account-by-the-numbers.html",
            "display_url": "kyleshank.com/donate-your-ac…",
            "indices": [
              35,
              55
            ]
          }
        ],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/bKb0f5i4",
          "expanded_url": "http://www.kyleshank.com/donate-your-account-by-the-numbers.html",
          "display_url": "kyleshank.com/donate-your-ac…",
          "indices": [
            50,
            70
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Sun Oct 30 19:01:47 +0000 2011",
    "id": 130721072885661700,
    "id_str": "130721072885661696",
    "text": "RT @roofproject: We just set up a campaign with @donateuraccount! Help us spread the word with auto re-tweets http://t.co/7rT3zNTG",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Thu Oct 27 16:30:13 +0000 2011",
      "id": 129595767005519870,
      "id_str": "129595767005519872",
      "text": "We just set up a campaign with @donateuraccount! Help us spread the word with auto re-tweets http://t.co/7rT3zNTG",
      "source": "<a href=\"http://www.hootsuite.com\" rel=\"nofollow\">HootSuite</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 167235159,
        "id_str": "167235159"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [
          {
            "url": "http://t.co/7rT3zNTG",
            "expanded_url": "http://ow.ly/7aU9v",
            "display_url": "ow.ly/7aU9v",
            "indices": [
              93,
              113
            ]
          }
        ],
        "user_mentions": [
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              31,
              47
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false,
      "possibly_sensitive": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [
        {
          "url": "http://t.co/7rT3zNTG",
          "expanded_url": "http://ow.ly/7aU9v",
          "display_url": "ow.ly/7aU9v",
          "indices": [
            110,
            130
          ]
        }
      ],
      "user_mentions": [
        {
          "screen_name": "roofproject",
          "name": "White Roof Project",
          "id": 167235159,
          "id_str": "167235159",
          "indices": [
            3,
            15
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            48,
            64
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false,
    "possibly_sensitive": false
  },
  {
    "created_at": "Sat Oct 15 17:55:11 +0000 2011",
    "id": 125268495284977660,
    "id_str": "125268495284977664",
    "text": "RT @kyleshank: before if you set up a campaign with a Facebook you couldn't donate your own Facebook account to the campaign. now you can.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Oct 15 17:55:00 +0000 2011",
      "id": 125268449789362180,
      "id_str": "125268449789362176",
      "text": "before if you set up a campaign with a Facebook you couldn't donate your own Facebook account to the campaign. now you can.",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Oct 15 17:52:26 +0000 2011",
    "id": 125267803702956030,
    "id_str": "125267803702956032",
    "text": "RT @kyleshank: 2) anyone with access to Facebook page can now manage and publish messages on behalf of campaign. also donate personal fb ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Oct 15 17:51:20 +0000 2011",
      "id": 125267528430780420,
      "id_str": "125267528430780417",
      "text": "2) anyone with access to Facebook page can now manage and publish messages on behalf of campaign. also donate personal fb account 2 campaign",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": []
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Oct 15 17:52:23 +0000 2011",
    "id": 125267790071480320,
    "id_str": "125267790071480321",
    "text": "RT @kyleshank: deployed updates to @donateuraccount 1) Clear disclaimer now on campaign page displaying Twitter/Facebook accounts campai ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Oct 15 17:49:54 +0000 2011",
      "id": 125267168307847170,
      "id_str": "125267168307847168",
      "text": "deployed updates to @donateuraccount 1) Clear disclaimer now on campaign page displaying Twitter/Facebook accounts campaign uses (1/2)",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": [
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              20,
              36
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            35,
            51
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Oct 15 17:51:31 +0000 2011",
    "id": 125267574123544580,
    "id_str": "125267574123544577",
    "text": "RT @kyleshank: making some Facebook updates to @donateuraccount any manager of a Facebook page will have implicit access to manage Faceb ...",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweeted_status": {
      "created_at": "Sat Oct 15 15:02:22 +0000 2011",
      "id": 125225004584550400,
      "id_str": "125225004584550400",
      "text": "making some Facebook updates to @donateuraccount any manager of a Facebook page will have implicit access to manage Facebook campaign",
      "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
      "truncated": false,
      "in_reply_to_status_id": null,
      "in_reply_to_status_id_str": null,
      "in_reply_to_user_id": null,
      "in_reply_to_user_id_str": null,
      "in_reply_to_screen_name": null,
      "user": {
        "id": 17234882,
        "id_str": "17234882"
      },
      "geo": null,
      "coordinates": null,
      "place": null,
      "contributors": null,
      "retweet_count": 1,
      "entities": {
        "hashtags": [],
        "urls": [],
        "user_mentions": [
          {
            "screen_name": "donateuraccount",
            "name": "Donate Your Account",
            "id": <%=twitter_uid%>,
            "id_str": "<%=twitter_uid%>",
            "indices": [
              32,
              48
            ]
          }
        ]
      },
      "favorited": false,
      "retweeted": false
    },
    "retweet_count": 1,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "kyleshank",
          "name": "Kyle Shank",
          "id": 17234882,
          "id_str": "17234882",
          "indices": [
            3,
            13
          ]
        },
        {
          "screen_name": "donateuraccount",
          "name": "Donate Your Account",
          "id": <%=twitter_uid%>,
          "id_str": "<%=twitter_uid%>",
          "indices": [
            47,
            63
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Sat Oct 08 03:23:59 +0000 2011",
    "id": 122512538180141060,
    "id_str": "122512538180141057",
    "text": "@SharedVisionCW let me know if you need help",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 122403595600670720,
    "in_reply_to_status_id_str": "122403595600670720",
    "in_reply_to_user_id": 374999211,
    "in_reply_to_user_id_str": "374999211",
    "in_reply_to_screen_name": "SharedVisionCW",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "SharedVisionCW",
          "name": "Shared Vision",
          "id": 374999211,
          "id_str": "374999211",
          "indices": [
            0,
            15
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Sep 30 16:54:53 +0000 2011",
    "id": 119817504708235260,
    "id_str": "119817504708235265",
    "text": "i'm thinking about giving one lucky campaign a spot on the homepage for a month. WHO SHOULD IT BE?",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Sep 23 19:51:57 +0000 2011",
    "id": 117325348638691330,
    "id_str": "117325348638691328",
    "text": "@markuskylberg yup thats the way it works now. this will change in a few days.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 117323318461349890,
    "in_reply_to_status_id_str": "117323318461349888",
    "in_reply_to_user_id": 15038513,
    "in_reply_to_user_id_str": "15038513",
    "in_reply_to_screen_name": "exekverat",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Sep 16 16:00:33 +0000 2011",
    "id": 114730401502728200,
    "id_str": "114730401502728192",
    "text": "I've thought about building a notion of Rewards into Donate Your Account. An incentive for a supporter to donate (discounts/access/etc).",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Fri Sep 16 15:43:51 +0000 2011",
    "id": 114726194984927230,
    "id_str": "114726194984927232",
    "text": ".@CitizenRadio is still King Shit of Fuck mountain with 837 donors.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": [
        {
          "screen_name": "CitizenRadio",
          "name": "Citizen Radio",
          "id": 50367908,
          "id_str": "50367908",
          "indices": [
            1,
            14
          ]
        }
      ]
    },
    "favorited": false,
    "retweeted": false
  },
  {
    "created_at": "Tue Sep 13 04:35:15 +0000 2011",
    "id": 113470773531914240,
    "id_str": "113470773531914240",
    "text": "@markuskylberg deployed fix. try signing out and back in again. let me know how it goes.",
    "source": "<a href=\"http://itunes.apple.com/us/app/twitter/id409789998?mt=12\" rel=\"nofollow\">Twitter for Mac</a>",
    "truncated": false,
    "in_reply_to_status_id": 113345535531945980,
    "in_reply_to_status_id_str": "113345535531945984",
    "in_reply_to_user_id": 15038513,
    "in_reply_to_user_id_str": "15038513",
    "in_reply_to_screen_name": "exekverat",
    "user": {
      "id": <%=twitter_uid%>,
      "id_str": "<%=twitter_uid%>"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "retweet_count": 0,
    "entities": {
      "hashtags": [],
      "urls": [],
      "user_mentions": []
    },
    "favorited": false,
    "retweeted": false
  }
]