<div class="page-header">
  <h1><%=@campaign.name%> <small>Donate Your Account</small></h1>
</div>

<%=form_for @donation, :url => facebook_campaign_donations_path(@campaign), :html => {:role=>"form", :class=>"form-horizontal"} do |f|%>
<div class="alert alert-warning">
  Your account will automatically share links posted to <strong><%=link_to @campaign.facebook_page["name"], @campaign.facebook_page["link"], :target => "_blank"%></strong> page on Facebook.
</div>
<div class="col-md-offset-4 col-md-4">
<div class="form-group">
    <%=f.label :donation_level %>
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Gold"])==Donation::LEVELS["Gold"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Gold"]%> <%=@campaign.level_gold%>: 1 share per day
</label>
<% end %>
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Silver"])==Donation::LEVELS["Silver"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Silver"]%> <%=@campaign.level_silver%>: 1 share per week
</label>
<% end %>
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Bronze"])==Donation::LEVELS["Bronze"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Bronze"]%> <%=@campaign.level_bronze%>: 1 share per month
</label>
<% end %>
  </div>
<div class="form-group">
      <%=f.submit "Donate Your Facebook Account", :class => "btn btn-success btn-lg", :data => {:confirm => "Are you sure you want to donate shares to #{@campaign.facebook_page["name"]} on Facebook?"} %>
  </div>
</div>
<%end%>