<h1><%=image_tag(@account.profile_image_url)%><%=@account.screen_name%></h1>

<%form_for @donation, :url => campaign_donate_path(@campaign) do |f|%>
<p>
  Choose the level of your donation to <strong><%=@account.screen_name%></strong>:
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Gold"]%>
  <%=f.label "level_#{Donation::LEVELS["Gold"]}", "Gold: 1 retweet per day"%>
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Silver"]%>
  <%=f.label "level_#{Donation::LEVELS["Silver"]}", "Silver: 1 retweet per week"%>
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Bronze"]%>
  <%=f.label "level_#{Donation::LEVELS["Bronze"]}", "Bronze: 1 retweet per month"%>
</p>
<p>
  <%=f.submit "Donate Your Account", :class => "button", :confirm => "Are you sure you want to donate retweets to #{@account.screen_name} on Twitter?" %>
</p>
<%end%>

<% content_for :side do %>
<div class="name"><%=@account.name%></div>
<div class="location"><%=@account.location%></div>
<div class="description"><%=@account.description%></div>
<div class="url"><%=link_to @account.url, @account.url unless @account.url.blank?%></div>

<h2>Donors (<%=@campaign.donations.count%>)</h2>
<ul class="donations">
  <% @campaign.donations.each do |donation| %>
  <li><%=link_to image_tag(donation.account.profile_image_url), donation.account.twitter_url, :target=>"_blank"%></li>
  <% end %>
</ul>
<% end %>