<div class="page-header">
  <h1><%=@campaign.name%> <small>Donate Your Account</small></h1>
</div>

<%=form_for @donation, :url => twitter_campaign_donations_path(@campaign), :html => {:class=>"form-horizontal"} do |f|%>
<div class="alert alert-warning">
  Your account will automatically retweet messages posted to <strong><%=link_to "@#{@campaign.twitter_account.screen_name}", @campaign.twitter_account.url, :target => "_blank"%></strong> on Twitter.
</div>
<div class="control-group">
    <%=f.label :donation_level, :class=>"control-label" %>
    <div class="controls">
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Gold"])==Donation::LEVELS["Gold"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Gold"]%> Gold: 1 retweet per day
</label>
<% end %>
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Silver"])==Donation::LEVELS["Silver"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Silver"]%> Silver: 1 retweet per week
</label>
<% end %>
<% if !@campaign.premium? || (@campaign.premium? and ((@campaign.levels & Donation::LEVELS["Bronze"])==Donation::LEVELS["Bronze"])) %>
<label class="radio">
  <%=f.radio_button :level, Donation::LEVELS["Bronze"]%> Bronze: 1 retweet per month
</label>
<% end %>
    </div>
  </div>
<div class="control-group">
    <div class="controls">
      <%=f.submit "Donate Your Twitter Account", :class => "btn btn-success", :confirm => "Are you sure you want to donate retweets to @#{@campaign.twitter_account.screen_name} on Twitter?" %>
    </div>
  </div>
<%end%>