<div id="campaign">
<h1><%=image_tag(@campaign.image) if @campaign.image%><%=@campaign.name%></h1>

<%=form_for @donation, :url => twitter_campaign_donations_path(@campaign) do |f|%>
<p>
  Your account will automatically retweet messages posted to <strong><%=link_to "@#{@campaign.twitter_account.screen_name}", @campaign.twitter_account.url, :target => "_blank"%></strong> on Twitter.
</p>
<p>
  Choose the level of your Twitter donation to <strong><%=link_to "@#{@campaign.twitter_account.screen_name}", @campaign.twitter_account.url, :target => "_blank"%></strong>:
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Gold"]%>
  <%=f.label "level_#{Donation::LEVELS["Gold"]}", "Gold: 1 retweet per day"%>
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Silver"]%>
  <%=f.label "level_#{Donation::LEVELS["Silver"]}", "Silver: 1 retweet per week"%>
</p>
<p>
  <%=f.radio_button :level, Donation::LEVELS["Bronze"]%>
  <%=f.label "level_#{Donation::LEVELS["Bronze"]}", "Bronze: 1 retweet per month"%>
</p>
<p>
  <%=f.submit "Donate Your Twitter Account", :class => "button", :confirm => "Are you sure you want to donate retweets to @#{@campaign.twitter_account.screen_name} on Twitter?" %>
</p>
<%end%>
</div>
<% content_for :side do %>
<h2>Twitter Donors (<%=@campaign.donations.twitter.count%>)</h2>
<ul class="donations">
  <% @campaign.donations.twitter.each do |donation| %>
  <li><%=link_to image_tag(donation.account.profile_image_url), donation.account.url, :target=>"_blank"%></li>
  <% end %>
</ul>
<% end %>