<div id="campaign">
<h1><%=image_tag(@campaign.image) if @campaign.image%><%=@campaign.name%></h1>
<% form_for @twitter_status, :url => campaign_twitter_statuses_path(@campaign) do |f| %>
<%=f.hidden_field :uid %>
<%=render :partial => "layouts/errors", :locals => {:model => @twitter_status}%>
<div class="messages twitter">
<div class="header">@<%=@campaign.twitter_account.screen_name%></div>
<div class="subHeader">SELECT TWEET:</div>
<ul>
  <%@campaign.twitter_account.recent_tweets.each_with_index do |tweet, i|%>
  <li twitter-id="<%=tweet["id"]%>" class="<% if (i % 2) == 0 %>even<%else%>odd<%end%>"><div><%=tweet["text"]%></div><div class="time"><%=time_ago_in_words(tweet["created_at"])%> ago</div></li>
  <% end %>
</ul>
</div>
<div class="levels">
<div class="subHeader">Retweet through:</div>
<ul>
<li><%=check_box_tag "twitter_status[levels][]", Donation::LEVELS["Gold"], false, {:id =>"gold"}%> <%=label_tag "gold" , "#{@campaign.donations.twitter.gold.count} Gold Donors (1 retweet per day)"%></li>
<li><%=check_box_tag "twitter_status[levels][]", Donation::LEVELS["Silver"], false, {:id =>"silver"}%> <%=label_tag "silver" , "#{@campaign.donations.twitter.silver.count} Silver Donors (1 retweet per week)"%></li>
<li><%=check_box_tag "twitter_status[levels][]", Donation::LEVELS["Bronze"], false, {:id =>"bronze"}%> <%=label_tag "bronze" , "#{@campaign.donations.twitter.bronze.count} Bronze Donors (1 retweet per month)"%></li>
</ul>
</div>
<%=f.submit "Publish Retweets", :class => "publish", :confirm => "Are you sure you *really* want to publish this tweet through your donors?"%>
<% end %>


<% content_for :side do %>
<ul class="menu">
<li><%=link_to "Edit Campaign", edit_campaign_path(@campaign), :class=>"button"%></li>
</ul>

<h2>Twitter Donors (<%=@campaign.donations.twitter.count%>)</h2>
<ul class="donations">
  <% @campaign.donations.twitter.each do |donation| %>
  <li><%=link_to image_tag(donation.account.profile_image_url), donation.account.url, :target=>"_blank"%></li>
  <% end %>
</ul>
<% end %>
</div>