<div class="page-header">
  <h1><%=@campaign.name%> <small>Publish shares</small></h1>
</div>
<%= form_for @facebook_status, :url => campaign_facebook_statuses_path(@campaign), :html => {:class=>"form-horizontal"} do |f| %>
<%=f.hidden_field :uid %>
<%=render :partial => "layouts/errors", :locals => {:model => @facebook_status}%>
 <div class="control-group">
    <%=f.label :facebook_page, :class=>"control-label" %>
    <div class="controls">
    	<%=link_to raw("<i class='icon-facebook'></i> #{@campaign.facebook_page["name"]}"), @campaign.facebook_page["link"], :class=>"btn btn-primary", :target => "_blank"%>
    </div>
  </div>
   <div class="control-group">
    <%=f.label :select_post, :class=>"control-label" %>
    <div class="controls">
    	<table class="table table-striped messages">
    		<tbody>
    	<%current_facebook_account.recent_links(@campaign.facebook_page_uid).each_with_index do |post, i|%>
  <tr facebook-id="<%=post["id"]%>"><td><div class="title"><%=link_to post["name"], post["link"], :target=>"_blank"%></div><div class="description"><%=post["description"]%></div><div class="time"><%=time_ago_in_words(Time.parse(post["created_time"]))%> ago</div></td></tr>
  <% end %>
  	</tbody>
		</table>
    </div>
  </div>
   <div class="control-group">
    <%=f.label :share_through, :class=>"control-label" %>
    <div class="controls">
    	<label class="checkbox"><%=check_box_tag "facebook_status[levels][]", Donation::LEVELS["Gold"], false, {:id =>"gold"}%> <%=@campaign.donations.facebook.gold.count%> Gold Donors (1 share per day)</label>
<label class="checkbox"><%=check_box_tag "facebook_status[levels][]", Donation::LEVELS["Silver"], false, {:id =>"silver"}%> <%=@campaign.donations.facebook.silver.count%> Silver Donors (1 share per week)</label>
<label class="checkbox"><%=check_box_tag "facebook_status[levels][]", Donation::LEVELS["Bronze"], false, {:id =>"bronze"}%> <%=@campaign.donations.facebook.bronze.count%> Bronze Donors (1 share per month)</label>
    </div>
   </div>

<div class="control-group">
    <div class="controls">
    	<%=f.submit "Publish Shares", :class => "btn btn-success", :data => {:confirm => "Are you sure you *really* want to publish shares through your donors?"}%>
    </div>
  </div>

<% end %>