<table class="table table-striped statuses">
	<tbody>
  <% statuses.each do |status| -%>
  <% if status.campaign -%>
  <% if status.is_a?(TwitterStatus)-%>
  <tr><td class="twitter"><h3 class="name"><%=link_to status.campaign.name, campaign_path(status.campaign)%></h3><div class="body"><% if status.body.blank?%><%=raw(auto_link(status.data["text"])) if status.data%><%else%><%=raw(auto_link(status.body))%><% end %></div><div class="time"><%=link_to "Retweeted #{time_ago_in_words(status.created_at)} ago through your Twitter account",status.permalink, :target=>"_blank"%></td></tr>
  <% elsif status.is_a?(FacebookStatus) -%>
  <tr><td class="facebook"><h3 class="name"><%=link_to status.campaign.name, campaign_path(status.campaign)%></h3><div class="link"><%=link_to status.data["name"], status.data["link"]%></div><div class="body"><%=status.data["description"]%></div><div class="time"><%=link_to "Shared #{time_ago_in_words(status.created_at)} ago through your Facebook account",status.permalink, :target=>"_blank"%> </div></td></tr>
  <% end -%>
  <% end -%>
  <% end -%>
	</tbody>
</table>