<!DOCTYPE html>
<html>
<head>
  <title>Donate Your Account - Get your supporters to donate their Twitter and Facebook accounts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png" />
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body class="index">

<div class="section title">
    <div class="container">
      <%=link_to raw("<i class='fa fa-facebook-square'></i> Sign in with Facebook"), new_facebook_account_path, :class=>"pull-right hidden-xs" %>
      <%=link_to raw("<i class='fa fa-twitter'></i>Sign in with Twitter"), new_twitter_account_path, :class=>"pull-right hidden-xs" %>
      <h1>Donate Your Account</h1>
      <h2>Get your supporters to donate their Twitter and Facebook accounts</h2>
    </div>
</div>

<div class="section how">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook-square"></i>
          </div>
          <p>
            Supporters donate their Twitter and Facebook accounts
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-retweet"></i>
          </div>
          <p>
            Get your message auto retweeted or shared through donated accounts
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-bullhorn"></i>
          </div>
          <p>
            Reach all of your supporters' followers and friends instantly
          </p>
        </div>
      </div>
    </div>
</div>

<div class="section pitch">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Stop asking your supporters to share everything you post online.  Ask them to donate their account.</h1>
          <div><%=link_to "Start a Campaign", "/start", :class=>"btn btn-lg btn-success"%></div>
        </div>
      </div>
    </div>
</div>

<div class="container">

<div class="pro-ad index">
<% @cpro = Campaign.random_pro %>
          <h1><%=image_tag(@cpro.image) if @cpro.image%><%=link_to @cpro.name, campaign_permalink_path(@cpro)%>
<%if @cpro.twitter_account%>
            <%=link_to raw("<i class='fa fa-twitter'></i> #{@cpro.donations.twitter.count}"), campaign_permalink_path(@cpro), class: "twitter"%>
            <% end %>
            <%if @cpro.facebook_account%>
            <%=link_to raw("<i class='fa fa-facebook'></i> #{@cpro.donations.facebook.count}"), campaign_permalink_path(@cpro), class: "facebook"%>
            <% end %>
          </h1>
          <p>
<%=link_to "Go Pro", "/pro", class: "btn btn-default"%> <%=link_to "Browse Campaigns", campaigns_path, class: "btn btn-default"%>
          </p>
</div>

<footer>

  <p>
    This page uses an image from <a href="http://cryptome.org/info/ows-19/ows-19.htm">cryptome.org</a>.
  </p>
        <p>&copy; 2014 <a href="http://www.reactualize.com">REACTUALIZE LLC</a>. <a href="/privacy.html">Privacy Policy</a> - <a href="http://www.gnu.org/licenses/agpl.html">License</a> - <a href="http://twitter.com/donateuraccount">Twitter</a> - <a href="http://github.com/kyleshank/donateyouraccount">Source Code</a></p>

</footer>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
