<!DOCTYPE html>
<html>
<head>
  <title>Donate Your Account</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body>

<div id="index">

<div id="logo"><%=image_tag("index-logo.png")%></div>

<div id="campaigns">
  <h1>Donate Your Account to campaigns you support:</h1>
<ul>
  <% Campaign.desc.limit(4).all.each do |campaign| %>
<li><a href="<%=campaign_permalink_path(campaign)%>"><%=image_tag(campaign.account.profile_image_url)%><div><%=campaign.account.screen_name%></div></a></li>
  <% end %>
    </ul>
  <br style="clear:both"/>
</div>

<div id="button">
    <%=link_to image_tag("sign-in-with-twitter-d.png"), new_account_path %>
</div>
  
<%=render :partial => "layouts/footer"%>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>