<!DOCTYPE html>
<html>
<head>
  <title>Donate Your Account - Get your supporters to donate their Twitter and Facebook accounts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png" />
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 

  <script type="text/javascript" src="//use.typekit.net/zxr3vvc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body class="index">

<div class="section title">
    <div class="container">
      <h1>Donate Your Account</h1>
    </div>
</div>

<div class="section how">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook-square"></i>
          </div>
          <p>
            Supporters donate their Twitter and Facebook accounts
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-retweet"></i>
          </div>
          <p>
            Get your message auto retweeted or shared through donated accounts
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-bullhorn"></i>
          </div>
          <p>
            Reach all of your supporters' followers and friends instantly
          </p>
        </div>
      </div>
    </div>
</div>

<div class="section start">
    <div class="container">
      <div class="start-button">
        <a href="/start?return_to=<%=new_campaign_path%>" class="btn">Start accepting donations (it's free)</a>
      </div>
      <div class="sign-in">
        or <a href="/start">Sign in</a>
      </div>
    </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>Stop asking your supporters to share everything you post online.</h1>
    <p>
      Ask them to donate their account.
    </p>
    <p>
      Donate Your Account lets your supporters donate their Twitter and/or Facebook account to your cause so you can automatically republish (retweet or share) your message through their accounts in the future.
    </p>
  </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>How it works.</h1>
    <p>
      You create a Campaign and ask your Supporters to donate their accounts.
    </p>
    <p>
      Supporters donate their Twitter and/or Facebook accounts and decide how often your Campaign can use them.  The donation options for use are once per day, once per week or once per month.
    </p>
    <p>
      Once your Campaign has gathered some donations you can publish a message.  Select an existing Campaign tweet or Campaign Facebook page post, the types of donations to utilize (daily, weekly or monthly) and hit Publish.  The donated accounts will then immediately retweet or reshare the message you selected.
    </p>
  </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>Here's an example.</h1>
    <p>
      A non-profit organization has a Campaign with 100 Twitter donations.
    </p>
    <p>
      Their big annual fundraiser starts on Monday and they need to get the word out.
    </p>
    <p>
      On Monday morning the manager of the Campaign tweets a message on their organization's Twitter account.  The manager then logs into Donate Your Account, goes to publish a new message and selects the tweet that was just posted.  The manager hits Publish and their 100 donated Twitter accounts all immediately retweet the organization's tweet within the next minute potentially reaching over 20,000 people.
    </p>
    <p>
      <a href="/campaigns">Take a look at the campaign directory to see how everyone is using Donate Your Account.</a>
    </p>
  </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>Customize your campaign.</h1>
    <p>
      Upgrade to <a href="/pro">Donate Your Account Pro</a> to get the most out of your Campaign.
    </p>
    <p>
      Donate Your Account Pro allows you to host your Campaign on your own domain, customize your page with HTML and CSS, create a custom Thank-You page after a donation is made and more.  Pro also gets you email support for any issues or questions you might have.
    </p>
  </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>What it means to donate your account.</h1>
    <p>
      When a Supporter donates their account they are granting permission to the Campaign to republish through their account at most once per day, once per week or once per month.
    </p>
    <p>
      A donated Twitter account will republish by retweeting a Campaign tweet.  A donated Facebook account will republish by sharing a link to their Facebook feed based on a post made to the Campaign Facebook page.
    </p>
    <p>
      Donations can be deleted at any time.
    </p>
  </div>
</div>

<div class="section copy">
  <div class="container">
    <h1>Open Source.</h1>
    <p>
      Donate Your Account is a Ruby on Rails application.  The source code is <a href="http://github.com/kyleshank/donateyouraccount">available on GitHub</a> and <a href="http://www.gnu.org/licenses/agpl.html">licensed under the AGPL version 3</a>.
    </p>
    <p>
      Handing over the keys to your social media accounts is a big deal.  Donate Your Account is open source so anyone can see exactly how your accounts are used.
    </p>
  </div>
</div>

<footer>
        <p>&copy; 2014 <a href="http://www.kyleshank.com">Kyle Shank</a>. <a href="/brand">Brand</a> - <a href="/privacy.html">Privacy Policy</a> - <a href="http://www.gnu.org/licenses/agpl.html">License</a> - <a href="http://twitter.com/donateuraccount">Twitter</a> - <a href="https://www.facebook.com/pages/Donate-Your-Account/128107323942962">Facebook</a> - <a href="http://github.com/kyleshank/donateyouraccount">Source Code</a></p>

</footer>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
