<!DOCTYPE html>
<html>
<head>
  <title>Donate Your Account PRO - Customize your campaign and get more donations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png" />
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body class="pro">

<div class="section title">
    <div class="container">
      <h1>Donate Your Account Pro</h1>
      <h2>Customize your campaign and get more donations</h2>
    </div>
</div>

<div class="section how">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <i class="fa fa-globe"></i>
          </div>
          <p>
            Host your campaign on your own domain (donate.yourdomain.com)
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-css3"></i>
          </div>
          <p>
            Customize your campaign page with full HTML and CSS support
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-flag-checkered "></i>
          </div>
          <p>
            Thank your donors with a custom thank you page and keep their attention
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-star"></i>
          </div>
          <p>
            Rename donation levels and manage which levels are shown
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-question-circle"></i>
          </div>
          <p>
            Get direct email support for any questions or issues you have
          </p>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-smile-o"></i>
          </div>
          <p>
            Pro campaigns help subsidize the cost of running the service
          </p>
        </div>
      </div>
    </div>
</div>

<div class="section pitch">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Make Donate Your Account your own for just $5/month</h1>
          <div><%=link_to "Back to Donate Your Account", request.referer || "/", :class=>"btn btn-lg btn-info"%></div>
        </div>
      </div>
    </div>
</div>
<div class="container">
<footer>
  <p>
This page uses a <a href="http://www.flickr.com/photos/dexxus/5578283926/">photo taken by Paul Bica from Flickr</a> and uses it under the <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons Attribution 2.0 Generic License</a>.
  </p>
        <p>&copy; 2014 <a href="http://www.reactualize.com">REACTUALIZE LLC</a>. <a href="/privacy.html">Privacy Policy</a> - <a href="http://www.gnu.org/licenses/agpl.html">License</a> - <a href="http://twitter.com/donateuraccount">Twitter</a> - <a href="http://github.com/kyleshank/donateyouraccount">Source Code</a></p>
      </footer>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
