<!DOCTYPE html>
<html>
<head>
  <title>Sign into Donate Your Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png" />
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body style="background-color: #f5f5f5;">

    <div class="container">
    <form class="form-signin">
        <%=image_tag asset_path("dyaHeart240.png")%>
        <h2 class="form-signin-heading">Sign in</h2>
        <%=link_to "Sign in with Twitter", new_twitter_account_path(:return_to => (params[:return_to] || dashboard_path)), :class=>"twitter btn btn-info btn-lg btn-block"%>
        <%=link_to "Sign in with Facebook", new_facebook_account_path(:return_to => (params[:return_to] || dashboard_path)), :class=> "facebook btn btn-primary btn-lg btn-block" %>
      </form>
    </div> <!-- /container -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
