<table class="table table-striped statuses">
	<tbody>
  <% statuses.each do |status| -%>
  <% if status.campaign -%>
  <% if status.is_a?(TwitterStatus)-%>
  <tr><td class="twitter"><div class="body"><% if status.body.blank?%><%=raw(auto_link(status.data["text"])) if status.data%><%else%><%=raw(auto_link(status.body))%><% end %></div><div class="time"><%=link_to "Tweet rebroadcast #{time_ago_in_words(status.created_at)} ago through #{status.donated_statuses.count} donated accounts",status.permalink, :target=>"_blank"%></div></td></tr>
  <% elsif status.is_a?(FacebookStatus) -%>
  <tr><td class="facebook"><div class="link"><%=link_to truncate(status.data["name"], length: 30), status.data["link"]%></div><div class="body"><%=status.data["description"]%></div><div class="time"><%=link_to "Facebook link rebroadcast #{time_ago_in_words(status.created_at)} ago through #{status.donated_statuses.count} donated accounts",status.permalink, :target=>"_blank"%></div></td></tr>
  <% end -%>
  <% end -%>
  <% end -%>
</tbody>
</table>