<div class="page-header">
  <h1><%=@campaign.name%></h1>
</div>
<%= form_for @campaign, :url => campaign_path, :method => :put, :html => {:role=>"form", :class=>"form-horizontal"} do |f|%>
<%=render :partial => "layouts/errors", :locals => {:model => @campaign}%>

  <div class="form-group">
    <%=f.label :name, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :name, :placeholder => "Campaign name", :class=>"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :permalink, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      http://donateyouraccount.com/<%=f.text_field :permalink, :placeholder => "Permalink", :class=>"form-control", :cols=>"30", :style=>"display: inline-block; width: 16em;"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :twitter_account, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <% if current_twitter_account %>
    <%=f.select :twitter_account_id, [["@#{current_twitter_account.screen_name}",current_twitter_account.id]], {:include_blank=>true}, {:class=>"form-control"} %>
<% else %>
    <%=link_to "Sign in with Twitter", new_twitter_account_path, :class => "btn btn-info" %>
<% end %>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :facebook_page, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
<% if current_facebook_account and (@campaign.facebook_page_uid.blank? or (@campaign.donations.facebook.count==0)) %>
    <%=f.select :facebook_page_uid, current_facebook_account.facebook_pages.collect{|a| [a["name"], a["id"] ]}, {:include_blank=>true}, {:class=>"form-control"} %>
<% elsif !@campaign.facebook_page_uid.blank?%>
    <%=link_to @campaign.facebook_page["name"], @campaign.facebook_page["link"], :class=> "btn btn-primary facebook", :target=>"_blank"%>
<% else %>
    <%=link_to "Sign in with Facebook", new_facebook_account_path, :class=> "btn btn-primary facebook"%>
<% end %>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :description, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :description, :rows => 4, :placeholder=>"Description", :class=>"form-control"%>
    </div>
  </div>
<% if @campaign.premium? %>
<div class="form-group">
    <%=f.label :levels, "Donation Levels", :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Gold"], ((@campaign.levels & Donation::LEVELS["Gold"])==Donation::LEVELS["Gold"]) %> <%=f.text_field :level_gold, :placeholder => "Gold", :class=>"form-inline" %>: 1 retweet per day
</label>
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Silver"], ((@campaign.levels & Donation::LEVELS["Silver"])==Donation::LEVELS["Silver"])%> <%=f.text_field :level_silver, :placeholder => "Silver", :class=>"form-inline" %>: 1 retweet per week
</label>
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Bronze"], ((@campaign.levels & Donation::LEVELS["Bronze"])==Donation::LEVELS["Bronze"])%> <%=f.text_field :level_bronze, :placeholder => "Bronze", :class=>"form-inline" %>: 1 retweet per month
</label>
      <div class="helper">Name your donation levels and choose which ones are available when a supporter makes a donation.</div>
    </div>
  </div>
<div class="form-group">
    <%=f.label :domain, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :domain, :placeholder => "donateyouraccount.yourdomain.com", :class=>"form-control"%>
      <div class="helper">Run Donate Your Account on your own domain. Add a CNAME record for a subdomain (e.g. donate.yourdomain.com) with the value <strong>donateyouraccount.com</strong>.</div>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :css, "CSS", :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :css, :rows => 8, :placeholder=>"CSS", :class=>"form-control"%>
      <div class="helper">Use CSS to customize the look and feel of your campaign pages.</div>
    </div>
  </div>
<div class="form-group">
    <%=f.label :thank_you_title, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :thank_you_title, :placeholder => "Thank You Page Title", :class=>"form-control"%>
      <div class="helper">The title to use on the thank you page shown after somone donates.</div>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :thank_you_body, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :thank_you_body, :rows => 8, :placeholder=>"Thank You Page Body", :class=>"form-control"%>
      <div class="helper">The body of the thank you page shown after someone donates. This can contain images, links or any HTML you'd like.</div>
    </div>
  </div>
<% end %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
<%=f.submit "Update Campaign", :class=>"btn btn-success block"%>
</div>
  </div>
<% end %>