<h1><%=@campaign.name%></h1>
<% form_for @campaign, :url => campaign_path, :method => :put do |f|%>
<%=render :partial => "layouts/errors", :locals => {:model => @campaign}%>
<%=f.label :name %>
<%=f.text_field :name%>
<%=f.label :permalink%>
http://donateyouraccount.com/<%=f.text_field :permalink%>
<%=f.label :twitter_account%>
<% if current_twitter_account %>
    <%=f.select :twitter_account_id, [["@#{current_twitter_account.screen_name}",current_twitter_account.id]], :include_blank=>true %>
<% else %>
    <%=link_to "Sign in", new_twitter_account_path, :class=> "button twitter"%>
<% end %>
    <%=label_tag "Facebook Page"%>
<% if current_facebook_account and (@campaign.facebook_page_uid.blank? or (@campaign.donations.facebook.count==0)) %>
    <%=f.select :facebook_page_uid, current_facebook_account.facebook_pages.collect{|a| [a["name"], a["id"] ]}, :include_blank=>true %>
<% elsif !@campaign.facebook_page_uid.blank?%>
    <%=link_to current_facebook_account.get("/#{@campaign.facebook_page_uid}")["name"], "http://facebook.com/#{@campaign.facebook_page_uid}", :target=>"_blank"%>
<% else %>
    <%=link_to "Sign in", new_facebook_account_path, :class=> "button facebook"%>
<% end %>
<%=f.label :description %>
<%=f.text_area :description%>
<%=f.submit "Update Campaign"%>
<% end %>