<div class="page-header">
  <h1><%=@campaign.name%></h1>
</div>
<% if defined?(DYA_PAYMENTS) %>
<% content_for :head do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
</script>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Billing</h3>
  </div>
  <div class="panel-body">
    <% if @campaign.premium? %>
        <p>
          This campaign is on the <strong>Pro</strong> plan.
        </p>
        <% unless @campaign.customer_id.nil? %>
        <p>
          Your credit card will automatically be charged <strong>$5.00</strong> every month.
        </p>
        <p>
          <i class="fa fa-credit-card"></i> <strong><%=@campaign.billing_type%> ...<%=@campaign.billing_last4%></strong> Expiration: <strong><%=@campaign.billing_exp_month%>/<%=@campaign.billing_exp_year%></strong>
        </p>
        <p class="upgrade-card-link">
          <a href="#" class="btn btn-info">Change Credit Card</a>
        </p>
        <div class="upgrade-card" style="display: none">
        <p>
                  <%= form_tag upgrade_campaign_path(@campaign), :id => "payment-form", :role=>"form", :class=> "form-horizontal" do %>
          <span class="payment-errors"></span>

          <div class="payment-row">
            <label class="control-label">
              <i class="fa fa-credit-card"></i>
            </label>

              <input type="text" size="20" data-stripe="number" class="form-control" placeholder="Card number"/>

          </div>

          <div  class="payment-row">
                      <label class="control-label">
                        <i class="fa fa-calendar"></i>
                      </label>
                          <input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="MM"/> / <input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="YYYY"/>
                    </div>

          <div  class="payment-row">
                      <label class="control-label">
                        <i class="fa fa-lock"></i>
                      </label>
                          <input type="text" size="4" data-stripe="cvc" class="form-control"  placeholder="CVC"/>
                    </div>


<div>
          <button type="submit" class="btn btn-success">Update Credit Card</button>
</div>
        <% end %>
      </p>
    </div>
<p>
    <%= link_to "Cancel and downgrade", downgrade_campaign_path(@campaign), :method => :post, :class=>"btn btn-danger", :confirm =>"Are you sure you want to cancel your Pro plan downgrade to the Free plan?"%> to the <strong>Free</strong> plan.  This campaign will lose its <strong>Pro</strong> plan features.
    </p>
            <% end%>
    <%else%>
<p>This campaign is currently on the <strong>Free</strong> plan.</p>
            <p>Upgrade this campaign to the <strong>Pro</strong> plan to rename donation levels, host it on your own domain, customize your page with CSS and have a custom thank you page after a donation is made for $5 per month.  You can downgrade and cancel anytime.</p>



        <%= form_tag upgrade_campaign_path(@campaign), :id => "payment-form", :role=>"form", :class=> "form-horizontal" do %>
          <span class="payment-errors"></span>
<div class="payment-row">
            <label class="control-label">
              <i class="fa fa-money"></i>
            </label>

              <strong>$5.00 every month</strong>

          </div>
<div class="payment-row">
            <label class="control-label">
              <i class="fa fa-envelope"></i>
            </label>

              <input type="text" size="30" name="campaign[email]" data-stripe="email" class="form-control" placeholder="Email"/>

          </div>

          <div class="payment-row">
            <label class="control-label">
              <i class="fa fa-credit-card"></i>
            </label>

              <input type="text" size="20" data-stripe="number" class="form-control" placeholder="Card number"/>

          </div>

          <div  class="payment-row">
                      <label class="control-label">
                        <i class="fa fa-calendar"></i>
                      </label>
                          <input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="MM"/> / <input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="YYYY"/>
                    </div>

          <div  class="payment-row">
                      <label class="control-label">
                        <i class="fa fa-lock"></i>
                      </label>
                          <input type="text" size="4" data-stripe="cvc" class="form-control"  placeholder="CVC"/>
                    </div>


<div>
          <button type="submit" class="btn btn-success">Upgrade to Donate Your Account Pro</button>
</div>
        <% end %>

    <%end%>
    <script>
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        var last4 = response.card.last4;
        $form.append($('<input type="hidden" name="last4" />').val(last4));
        var exp_month = response.card.exp_month;
        $form.append($('<input type="hidden" name="exp_month" />').val(exp_month));
        var exp_year = response.card.exp_year;
        $form.append($('<input type="hidden" name="exp_year" />').val(exp_year));
        var type = response.card.type;
        $form.append($('<input type="hidden" name="type" />').val(type));
        // and submit
        $form.get(0).submit();
      }
    };
    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
      $(".upgrade-card-link").click(function(e){
        e.preventDefault();
        $(".upgrade-card").show();
        $(this).hide();
        return false;
      })
    });
</script>
  </div>
</div>
<% end %>
<%= form_for @campaign, :url => campaign_path, :method => :put, :html => {:role=>"form", :class=>"form-horizontal"} do |f|%>
<%=render :partial => "layouts/errors", :locals => {:model => @campaign}%>

  <div class="form-group">
    <%=f.label :name, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :name, :placeholder => "Campaign name", :class=>"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :permalink, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      http://donateyouraccount.com/<%=f.text_field :permalink, :placeholder => "Permalink", :class=>"form-control", :cols=>"30", :style=>"display: inline-block; width: 16em;"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :twitter_account, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <% if current_twitter_account %>
    <%=f.select :twitter_account_id, [["@#{current_twitter_account.screen_name}",current_twitter_account.id]], {:include_blank=>true}, {:class=>"form-control"} %>
<% else %>
    <%=link_to "Sign in with Twitter", new_twitter_account_path, :class => "btn btn-info" %>
<% end %>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :facebook_page, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
<% if current_facebook_account and (@campaign.facebook_page_uid.blank? or (@campaign.donations.facebook.count==0)) %>
    <%=f.select :facebook_page_uid, current_facebook_account.facebook_pages.collect{|a| [a["name"], a["id"] ]}, {:include_blank=>true}, {:class=>"form-control"} %>
<% elsif !@campaign.facebook_page_uid.blank?%>
    <%=link_to @campaign.facebook_page["name"], @campaign.facebook_page["link"], :class=> "btn btn-primary facebook", :target=>"_blank"%>
<% else %>
    <%=link_to "Sign in with Facebook", new_facebook_account_path, :class=> "btn btn-primary facebook"%>
<% end %>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :description, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :description, :rows => 4, :placeholder=>"Description", :class=>"form-control"%>
    </div>
  </div>
<% if @campaign.premium? %>
<div class="form-group">
    <%=f.label :levels, "Donation Levels", :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Gold"], ((@campaign.levels & Donation::LEVELS["Gold"])==Donation::LEVELS["Gold"]) %> <%=f.text_field :level_gold, :placeholder => "Gold", :class=>"form-inline" %>: 1 retweet/share per day
</label>
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Silver"], ((@campaign.levels & Donation::LEVELS["Silver"])==Donation::LEVELS["Silver"])%> <%=f.text_field :level_silver, :placeholder => "Silver", :class=>"form-inline" %>: 1 retweet/share per week
</label>
<label class="radio">
  <%=check_box_tag "levels[]", Donation::LEVELS["Bronze"], ((@campaign.levels & Donation::LEVELS["Bronze"])==Donation::LEVELS["Bronze"])%> <%=f.text_field :level_bronze, :placeholder => "Bronze", :class=>"form-inline" %>: 1 retweet/share per month
</label>
      <div class="helper">Name your donation levels and choose which ones are available when a supporter makes a donation.</div>
    </div>
  </div>
<div class="form-group">
    <%=f.label :domain, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :domain, :placeholder => "donateyouraccount.yourdomain.com", :class=>"form-control"%>
      <div class="helper">Run Donate Your Account on your own domain. Add a CNAME record for a subdomain (e.g. donate.yourdomain.com) with the value <strong>donateyouraccount.com</strong>.</div>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :css, "CSS", :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :css, :rows => 8, :placeholder=>"CSS", :class=>"form-control"%>
      <div class="helper">Use CSS to customize the look and feel of your campaign pages.</div>
    </div>
  </div>
<div class="form-group">
    <%=f.label :thank_you_title, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_field :thank_you_title, :placeholder => "Thank You Page Title", :class=>"form-control"%>
      <div class="helper">The title to use on the thank you page shown after somone donates.</div>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :thank_you_body, :class=>"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%=f.text_area :thank_you_body, :rows => 8, :placeholder=>"Thank You Page Body", :class=>"form-control"%>
      <div class="helper">The body of the thank you page shown after someone donates. This can contain images, links or any HTML you'd like.</div>
    </div>
  </div>
<% end %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
<%=f.submit "Update Campaign", :class=>"btn btn-success block"%>
</div>
  </div>
<% end %>