<h1>Create Campaign</h1>
<% form_for @campaign do |f|%>
<%=render :partial => "layouts/errors", :locals => {:model => @campaign}%>
<%=f.label :name %>
<%=f.text_field :name%>
<%=f.label :permalink%>
http://donateyouraccount.com/<%=f.text_field :permalink%>
<%=f.label :twitter_account%>
<% if current_twitter_account %>
    <%=f.select :twitter_account_id, [["@#{current_twitter_account.screen_name}",current_twitter_account.id]], :include_blank=>true %>
<% else %>
    <%=link_to "Sign in with Twitter", new_twitter_account_path%>
<% end %>
    <%=label_tag "Facebook Page"%>
<% if current_facebook_account %>
    <% if current_facebook_account.facebook_pages.empty? %>
       No Facebook pages are associated with your account.
    <% else %>
            <%=f.select :facebook_page_uid, current_facebook_account.facebook_pages.collect{|a| [a["name"], a["id"] ]}, :include_blank=>true %>
    <%end%>
<% else %>
    <%=link_to "Sign in with Facebook", new_facebook_account_path%>
<% end %>
<%=f.label :description %>
<%=f.text_area :description%>
<%=f.submit "Create Campaign", :class=>"button"%>
<% end %>