<h1><%=image_tag(@account.profile_image_url)%><%=@account.screen_name%></h1>
<% if current_account %>
<% if current_account.id == @account.id %>
<% elsif @donation %>
    <p><%= button_to "Un-Donate", campaign_donate_path(@campaign), :class => "button", :confirm => "Are you sure?", :method => :delete %></p>
<% else %>
    <p><%= link_to raw("<span>Donate</span>"), campaign_donate_path(@campaign), :class => "button" %></p>
<% end %>
<% else %>
<div class="attention">
<%=link_to image_tag("sign-in-with-twitter-d.png", :style=>"vertical-align:middle;margin-top:-3px;"), campaign_donate_path(@campaign) %> to donate.
</div>
<% end %>
<div><%=simple_format @campaign.description%></div>
<%=render :partial => "statuses/statuses", :object => @statuses, :locals => {:no_icon => true}%>
<% content_for :side do %>
<div class="name"><%=@account.name%></div>
<div class="location"><%=@account.location%></div>
<div class="description"><%=@account.description%></div>
<div class="url"><%=link_to @account.url, @account.url unless @account.url.blank?%></div>

<h2>Donors (<%=@campaign.donations.count%>)</h2>
<ul class="donations">
  <% @campaign.donations.each do |donation| %>
  <li><%=link_to image_tag(donation.account.profile_image_url), donation.account.twitter_url, :target=>"_blank"%></li>
  <% end %>
</ul>
<% end %>