<!DOCTYPE html>
<html lang="en">
<head>
  <title><%if @campaign and @campaign.persisted? %><%=@campaign.name%> on <%end%>Donate Your Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png" />

<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 
  
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body>

<% unless @premium_campaign %>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class='icon-flag'></i> Donate Your Account</a>
    </div>     
    <div class="collapse navbar-collapse">
      <% if logged_in? %>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donations <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Your Donations</li>
                  <% Donation.for_accounts(current_accounts).group_campaign.each do |donation| %>
                  <% if donation.campaign%>
                  <li><%=link_to donation.campaign.name, campaign_permalink_path(donation.campaign)%></li>
                  <% end %>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaigns <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Create Campaign", new_campaign_path%></li>
                  <li class="divider"></li>
                  <li><%=link_to "Browse Campaigns", campaigns_path%></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Your Campaigns</li>
                  <% Campaign.for_accounts(current_accounts).group("campaigns.id").each do |campaign| %>
                      <li><%=link_to campaign.name, campaign_permalink_path(campaign)%></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-person"></i> Me <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><% if current_twitter_account %><%= link_to raw("<i class='fa fa-twitter'></i> @#{current_twitter_account.screen_name}"), current_twitter_account.url, :target=>"_blank"%><%else%><%=link_to raw("<i class='fa fa-twitter'></i>Sign in with Twitter"), new_twitter_account_path%><% end %></li>
                  <li><% if current_facebook_account %><%= link_to raw("<i class='fa fa-facebook'></i> #{current_facebook_account.name}"), current_facebook_account.url, :target=>"_blank"%><%else%><%=link_to raw("<i class='fa fa-facebook'></i> Sign in with Facebook"), new_facebook_account_path %><% end %></li>
                  <li class="divider"></li>
                  <li><%=link_to "Sign out", signout_path %></li>
                </ul>
            </li>
            <% else %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%=link_to raw("<i class='fa fa-twitter'></i>Sign in with Twitter"), new_twitter_account_path %></li>
                  <li><%=link_to raw("<i class='fa fa-facebook'></i> Sign in with Facebook"), new_facebook_account_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
    </div>
  </div>
</div>
<% end %>
<%=render :partial => "layouts/banner_ad" if defined?(BANNER_AD) and (request.path != "/")%>
    <div class="container">
    
    <div id="content">
        <% if flash[:success] || flash[:notice]%>
          <div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%=flash[:success] || flash[:notice]%></div>
          <% flash.delete(:success) %>
        <% elsif flash[:info] %>
          <div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%=flash[:info]%></div>
          <% flash.delete(:info) %>
        <% elsif flash[:warning] %>
          <div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%=flash[:warning]%></div>
          <% flash.delete(:warning) %>
        <% elsif flash[:error] %>
          <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <% if flash[:error].is_a?(Enumerable) %>
            <ul>
              <% flash[:error].full_messages.each do |e|%>
              <li><%= e%></li>
              <% end %>
            </ul>
            <% else %>
              <%=flash[:error]%>
            <% end %>
          </div>
          <% flash.delete(:error) %>
        <% end %>
        <%= yield %>
    </div>

      <% unless @campaign and @campaign.premium? %>
      <footer>
        <p>&copy; 2014 <a href="http://www.reactualize.com">REACTUALIZE LLC</a>. <a href="/privacy.html">Privacy Policy</a> - <a href="http://www.gnu.org/licenses/agpl.html">License</a> - <a href="http://twitter.com/donateuraccount">Twitter</a> - <a href="http://github.com/kyleshank/donateyouraccount">Source Code</a></p>
      </footer>
      <% end %>

    </div> <!-- /container -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
