<!DOCTYPE html>
<html>
<head>
  <title><%if @campaign and @campaign.persisted? %><%=@campaign.name%> on <%end%>Donate Your Account</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "jquery.min" %>
   <%= javascript_include_tag "rails" %>
   <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%=yield :head%>
</head>
<body>

<div id="application" class="container">
<div id="bar">
<% if logged_in? %>
<ul id="nav">
    <li><% if current_twitter_account %><%= link_to "@#{current_twitter_account.screen_name}", current_twitter_account.url, :class=>"twitter", :target=>"_blank"%><%else%><%=link_to "Sign In", new_twitter_account_path, :class=>"twitter"%><% end %></li>
    <li><% if current_facebook_account %><%= link_to current_facebook_account.name, current_facebook_account.url, :class=> "facebook", :target=>"_blank"%><%else%><%=link_to "Sign In", new_facebook_account_path, :class=> "facebook" %><% end %></li>
    <% if logged_in? %>
    <li class="last"><%=link_to "Sign out", signout_path%></li>
    <% end %>
</ul>
<% end %>

<div id="logo"><h1><a href="/home"><span>Donate Your Account</span></a></h1></div>
</div>

<%if flash[:notice]%><div id="flash"><%=raw flash[:notice]%></div><% end%>

<div id="content">
  <div class="main">
    <%= yield %>
  </div>
  <div class="side">
    <%= yield :side %>
  </div>
  <br style="clear:both"/>
</div>

<%=render :partial => "layouts/footer"%>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2236980-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
