<% if current_account.campaign %>
<% form_for @status, :url => statuses_path do |f| %>
<div class="right""><%=link_to "Profile", campaign_permalink_path(@campaign)%> - <%=link_to "Edit Campaign", edit_campaign_path%></div>
<h1>Your Campaign (<%=pluralize(@campaign.donations.count, "donor")%> ~<%=pluralize @campaign.donations.sum("accounts.followers").to_i, "followers"%>)</h1>
<div><%=f.text_area :body, :maxlength => 140%></div>
<div><%=check_box_tag "status[levels][]", Donation::LEVELS["Gold"], false, {:id =>"gold"}%> <%=label_tag "gold" , "#{@campaign.donations.gold.count} Gold Donors (1 retweet per day)"%></div>
<div><%=check_box_tag "status[levels][]", Donation::LEVELS["Silver"], false, {:id =>"silver"}%> <%=label_tag "silver" , "#{@campaign.donations.silver.count} Silver Donors (1 retweet per week)"%></div>
<div><%=check_box_tag "status[levels][]", Donation::LEVELS["Bronze"], false, {:id =>"bronze"}%> <%=label_tag "bronze" , "#{@campaign.donations.bronze.count} Bronze Donors (1 retweet per month)"%></div>
<div><%=f.submit "Publish Tweet", :class => "button", :confirm => "Are you sure you *really* want to publish this tweet through all your donors?"%></div>
<% end %>
<% else  %>
<div class="attention home"><%=link_to raw("<span>Create Campaign</span>"), new_campaign_path, :class=>"button"%> to receive donations</div>
<% end %>

<% unless @campaigns.empty? %>
<div id="campaigns">
  <h1>Campaign Suggestions</h1>
<ul>
  <% @campaigns.each do |campaign| %>
    <li><a href="<%=campaign_permalink_path(campaign)%>"><%=image_tag(campaign.account.profile_image_url)%><div><%=campaign.account.screen_name%></div></a></li>
  <% end %>
    </ul>
  <br style="clear:both"/>
</div>
<% end %>

<h3>Timeline</h3>
<% if @donated_statuses.empty? %>
    <p>No donations made yet!  Donate to some accounts!</p>
<%else%>
<%=render :partial => "statuses/statuses", :object => @donated_statuses%>
<%=will_paginate @donated_statuses%>
<% end %>

<% content_for :side do %>
<div class="name"><%=current_account.name%></div>
<div class="location"><%=current_account.location%></div>
<div class="description"><%=current_account.description%></div>
<div class="url"><%=link_to current_account.url, current_account.url unless current_account.url.blank?%></div>

<% if @campaign %>
<h2>Donors (<%=@campaign.donations.count%>)</h2>
<ul class="donations">
  <% @campaign.donations.each do |donation| %>
  <% if donation.account.campaign%>
  <li><%=link_to image_tag(donation.account.profile_image_url), campaign_permalink_path(donation.account.campaign)%></li>
  <% else %>
  <li><%=link_to image_tag(donation.account.profile_image_url), donation.account.twitter_url, :target=>"_blank"%></li>
  <% end %>
  <% end %>
</ul>
<%end%>
    
<h2>Donations (<%=current_account.donations.count%>)</h2>
<ul class="donations">
  <% current_account.donations.each do |donation| %>
  <% if donation.campaign%>
  <li><%=link_to image_tag(donation.campaign.account.profile_image_url), campaign_permalink_path(donation.campaign)%></li>
  <% end %>
  <% end %>
</ul>
<% end %>