<div id="account">
<div class="info">
<%=image_tag(@account.profile_image_url || "https://s3.amazonaws.com/twitter_production/a/1294097328/images/default_profile_3_normal.png")%>
<div class="name"><%=@account.name%></div>
<div class="screen_name">@<%=@account.screen_name%><span class="location"><%=@account.location%></span></div>
<div class="description"><%=@account.description%></div>
<div class="url"><%=link_to @account.url, @account.url unless @account.url.blank?%></div>
</div>

<% if current_account %>
<% if current_account.id == @account.id %>
<% form_for @status || Status.new, :url => statuses_path do |f| %>
<div><%=f.text_area :body, :maxlength => 140%></div>
<div><%=f.submit "Publish", :class => "button", :confirm => "Are you sure you *really* want to publish this update?"%> through <%=pluralize(@account.donors.count, "donation")%> reaching ~<%=pluralize @account.donors.sum("accounts.followers").to_i, "followers"%></div>
<% end %>
<% elsif @donation %>
    <%= button_to "Un-Donate", donation_path(@donation), :confirm => "Are you sure?", :method => :delete %>
    <% else %>
    <%form_for Donation.new(:campaign_id => @account.id) do |f|%>
        <%=f.hidden_field :campaign_id%>
        <%=f.submit "Donate"%>
    <%end%>
<% end %>
<% else %>
<p>
<%=link_to image_tag("sign-in-with-twitter-d.png", :style=>"vertical-align:middle;margin-top:-3px;"), donate_account_path(@account) %> to donate.
</p>
<% end %>

<%=render :partial => "statuses", :object => @statuses%>
</div>